<div id="gapi-container">
  <div *ngIf="gapiStatus">
    <div *ngIf="gapiStatus === 'error'" class="container border-top py-2">
      <div><span class="message">{{nl.NO_GAPI_LOADED}}</span><button class="btn btn-outline-info" (click)="reloadGapi()">{{nl.TRY_LOAD_GAPI}}</button></div>      
    </div>
  </div>
  <div *ngIf="gapiStatus === 'loading'" class="spinner">
  </div>
  <h6 *ngIf="gapiStatus === 'offline'" class="container my-3 text-center">
    <span class="badge badge-info">Offline</span>
  </h6>
</div>