<div class="container" *ngIf="gapiStatus==='loaded'">

  <div *ngIf="!sheetLoading">
    <div>
      <ul *ngIf="urlsList.length" class="list-group">
        <button type="button" *ngFor="let url of urlsList" class="list-group-item list-group-item-action url-list-item" (click)="selectUrl(url)">{{url}}</button>
      </ul>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="{{nl.GOOGLE_SHEETS_URL}}" [formControl]="urlInput" (focus)="onInputFocus()" (focusout)="onInputFocusOut()">
      <div class="input-group-append">
        <button class="btn btn-info" type="button" (click)="loadSheet()">{{nl.LOAD_SHEET}}</button>
      </div>
    </div>   
  </div>

  <div *ngIf="sheetLoading" class="spinner"></div>
</div>
