<div class="container">

  <div class="row">
  <form class="col-8 mb-1 pr-2" [formGroup]="radioGroupForm">
    <div class="btn-group btn-group-toggle w-100" ngbRadioGroup name="searchLanguage" formControlName="lang">
      <label ngbButtonLabel class="btn-primary text-truncate">
        <input ngbButton type="radio" value="lang1">{{columnNames[0]}}
      </label>
      <label ngbButtonLabel class="btn-primary text-truncate">
        <input ngbButton type="radio" value="lang2">{{columnNames[1]}}
      </label>
    </div>
  </form>

  <div class="col-4" *ngIf="sheetNames.length > 1">
    <div ngbDropdown class="d-inline-block w-100" placement="bottom-right">
      <button #sheetFilterButton class="btn btn-outline-primary text-truncate w-100" ngbDropdownToggle>{{sheetFilterText || nl.ALL_SHEETS}}</button>
      <div ngbDropdownMenu class="text-truncate">
        <button ngbDropdownItem (click)="sheetFilter('')">{{nl.ALL_SHEETS}}</button>
        <button *ngFor="let sheetName of sheetNames" ngbDropdownItem (click)="sheetFilter(sheetName)">{{sheetName}}</button>
      </div>
    </div>
  </div>
</div>

  <div class="input-group my-2">
    <input type="text" class="form-control" placeholder="{{nl.SEARCH_FOR}}" [formControl]="search">
    <div class="input-group-append">
      <span class="input-group-text" (click)="clearInput()">&times;</span>
    </div>
  </div>

</div>
